#circle {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: black solid 1px;
  }


label, #numOfWatchers {
  font-weight:bold;
  font-size: large;
}

h3, p { display:inline }