#circle {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: black solid 1px;
  }


label, #numOfWatchers {
  font-weight:bold;
  font-size: large;
}

h3, p { display:inline }

#wrapper { 
  width: 920px; 
  height: auto; 
  margin: 0 auto;
} 
#Video { 
  width: 47.5%; 
  height: 300px; 
  float: left; 
  margin-right: 5%;
} 

#container { 
  width: 47.5%; 
  height: 300px; 
  float: left; 
}
#vrButton { 
  float: left; 
  height: 300px; 
  margin-right: 5%;
} 


@media (max-width:767px) {
  #wrapper{
      width: 100%;
      height: auto;
  }
  #Video {
      width: 100%;
      height: auto;
      float: none;
  }
  #container {
      width: 100%;
      height: auto;
      float: none;
  }
}